/* RESET */
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* DEBUG */

.debug header{
    background-color: #add8e6;
    height: 60px;
}

.debug .header-top{
    background-color: #daa520;
    border: 1px dashed black;
}
   
.debug .preview{
    background-color: #00008b;
    border: 3px dashed black;
}
   
.debug .preview-row{
    height: 300px;
}

.debug .preview-column{
    background-color: #ee82ee;
}

.debug .row-main{
    height: 400px;
}

.debug .col-big-main{
    background-color: #1e90ff;
    border: 1px dashed black;
}

.debug .col-small-main{
    background-color: #ffc0cb;
    border: 1px dashed black;
}

.debug .row-end-main{
    height: 600px;
}

.debug .col-end-main{
    background-color: #228b22;
    border: 1px dashed black;
}

.debug .row-footer-top{
    height: 500px;
}

.debug .col-big-footer{
    background-color: #f08080;
    border: 1px dashed black;
}

.debug .col-small-footer{
    background-color: #20b2aa;
    border: 1px dashed white;
}

.debug hr{
    color: white;
}

.debug .row-footer-bottom{
    height: 50px;
    width: 100%;
    background-color: #7fffd4;
}

/* COMMON */

.container{
    max-width: 1000px;
    margin: auto;
}

/* HEADER */

header{
    padding: 15px 0;
}

.header-top{
    display: flex;
    justify-content: space-between;
    align-items: center; 
    padding: 5px 0;
    margin-bottom: 15px;
}

.logo{
    padding-left: 5px;
}

.login{
    padding-right: 5px;
}

/* PREVIEW */

.preview{
    padding-top: 25px;
    padding-bottom: 25px;
}

.preview-row{
    display: flex;
    justify-content: space-around;
}

.preview-column{
    width: 60%;
}

/* MAIN */

.row-main{
    display: flex;
    margin: 25px 0;
    padding: 25px 0;
}

.col-big-main{
    width: 60%;
}

.col-small-main{
    width: 40%;
}

.row-end-main{
    display: flex;
    padding: 25px 0;
    margin-bottom: 25px;
}

.col-end-main{
    width: 100%;
}

section:nth-child(2n){
    background-color: #d3d3d3;
}

/* FOOTER */

footer{
    background-color: #23272a;
}

.row-footer-top{
    display: flex;
    margin-top: -25px;
    padding: 25px 0;
}

.col-big-footer{
    width: 26%;
}

.col-small-footer{
    width: 18%;
}

hr{
    margin-bottom: 30px;
}

.row-footer-bottom{
    display: flex;
    justify-content: space-between;
    padding: 10px 0;
}

.logo-footer{
    background-color: #ffb6c1;
    border: 1px dashed black;
}

.bottone-footer{
    background-color: #ffb6c1;
    border: 1px dashed black;
}
