/* RESET */
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* DEBUG */

.debug header{
    background-color: #add8e6;
    height: 60px;
}

.debug .header-top{
    background-color: #daa520;
}
   
.debug .preview{
    background-color: #00008b;
}
   
.debug .preview-row{
    height: 300px;
}


.debug .row-main{
    height: 400px;
}

.debug .col-big-main{
    background-color: #1e90ff;
}

.debug .col-small-main{
    background-color: #ffc0cb;
}

.debug .row-end-main{
    height: 500px;
}

/* COMMON */

.container{
    max-width: 1200px;
    margin: auto;
}

/* HEADER */

header{
    padding: 15px 0;
}

.header-top{
    display: flex;
    justify-content: space-between;
    align-items: center; 
    padding: 5px 0;
    border: 1px dashed black;
    margin-bottom: 15px;
}

.logo{
    padding-left: 5px;
}

.login{
    padding-right: 5px;
}

/* PREVIEW */

.preview{
    border: 3px dashed black;
    padding-top: 25px;
    padding-bottom: 25px;
}

.preview-row{
    display: flex;
    justify-content: space-around;
}

.preview-column{
    width: 60%;
    background-color: #ee82ee;
}

/* MAIN */

.row-main{
    display: flex;
    margin: 25px 0;
    padding: 25px 0;
}

.col-big-main{
    width: 60%;
    border: 1px dashed black;
}

.col-small-main{
    width: 40%;
    border: 1px dashed black;
}

.row-end-main{
    display: flex;
    margin: 25px 0;
    padding: 25px 0;
}

.col-end-main{
    width: 100%;
    background-color: #228b22;
}

section:nth-child(2n){
    background-color: #d3d3d3;
}

/* FOOTER */